* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  font-family: 'Fira Sans', sans-serif;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  50% {
    -webkit-transform: translateX(7px);
            transform: translateX(7px);
  }
  100% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  50% {
    -webkit-transform: translateX(7px);
            transform: translateX(7px);
  }
  100% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
}

@-webkit-keyframes scroll-me {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes scroll-me {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

header {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(61, 193, 211, 0.4);
  background-position: center;
  background-size: cover;
  position: relative;
}

header .hello {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 100;
  font-size: 6rem;
  text-align: center;
}

header .hello span {
  text-transform: uppercase;
}

header #canvas {
  height: calc(100% - 70px);
}

header nav {
  -ms-flex-preferred-size: 70px;
      flex-basis: 70px;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 10;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav.newcolor {
  background: #fff;
  -webkit-transition: 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

header nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
}

header nav .logo a {
  text-decoration: none;
}

header nav .logo a h2 {
  font-weight: 400;
  color: #3dc1d3;
  text-transform: uppercase;
  padding: 4px 9px;
  font-size: 22px;
}

header nav .logo a h2.changecolor {
  color: #fff;
  background: #3dc1d3;
  -webkit-transition: 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

header nav .logo a img {
  height: 40px;
  margin-left: 40px;
}

header nav .menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .menu-wrapper .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .menu-wrapper .menu a {
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 30px;
  color: black;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  padding: 4px 7px;
  -webkit-transition: 250ms 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 250ms 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
  z-index: 2;
}

header nav .menu-wrapper .menu a::before {
  content: "";
  position: absolute;
  top: 0;
  right: -100%;
  background: #fff;
  width: 100%;
  height: 50px;
  z-index: -1;
  -webkit-transition: 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

header nav .menu-wrapper .menu a::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  background: #3dc1d3;
  width: 100%;
  height: 50px;
  z-index: -1;
  -webkit-transition: 250ms 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 250ms 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

header nav .menu-wrapper .menu a:hover::before {
  right: 0;
}

header nav .menu-wrapper .menu a:hover::after {
  left: 0;
}

header nav .menu-wrapper .menu a:hover {
  color: #fff;
}

header nav .menu-wrapper .socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .menu-wrapper .socialmedia a {
  text-decoration: none;
  color: #000;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

header nav .menu-wrapper .socialmedia a.fb:hover {
  color: #3b5998;
}

header nav .menu-wrapper .socialmedia a.github:hover {
  color: #24292e;
}

header nav .menu-wrapper .socialmedia a.contact {
  background: #3dc1d3;
  color: #fff;
  height: 70px;
  width: 70px;
  margin: 0;
  -webkit-transform: 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
          transform: 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

header nav .menu-wrapper .socialmedia a.contact:hover {
  background: #000;
}

header nav .menu-wrapper .socialmedia a i {
  font-size: 17px;
}

header .scroll-down {
  position: absolute;
  bottom: 30px;
  left: calc(50% - 34px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: scroll-me 1s infinite;
          animation: scroll-me 1s infinite;
}

header .scroll-down span {
  margin-bottom: 5px;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
}

.scroll-up {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 30px;
  height: 60px;
  background: #000;
  opacity: 0.7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  padding: 18px;
  -webkit-transition: 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.scroll-up:hover {
  opacity: 1;
}

.hidden {
  visibility: hidden;
}

.show {
  visibility: visible;
}

section#about-me {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#about-me .about-me-wrapper {
  -ms-flex-preferred-size: 1300px;
      flex-basis: 1300px;
  padding: 100px 50px 130px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#about-me .about-me-wrapper .lifeline {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  position: relative;
  padding: 20px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

section#about-me .about-me-wrapper .lifeline .line {
  position: absolute;
  top: 60%;
  left: 5%;
  background: rgba(61, 193, 211, 0.4);
  height: 2px;
  width: 90%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section#about-me .about-me-wrapper .lifeline .line .line-history {
  background: #000;
  height: 10px;
  width: 10px;
  -webkit-transform: translateY(-4.25px);
          transform: translateY(-4.25px);
  position: relative;
  font-size: 15px;
}

section#about-me .about-me-wrapper .lifeline .line .line-history .history {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 250px;
  margin-bottom: 10px;
  -webkit-transform: rotate(-90deg) translateY(-5px);
          transform: rotate(-90deg) translateY(-5px);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

section#about-me .about-me-wrapper .lifeline .line .line-history .history span {
  line-height: 20px;
  display: block;
}

section#about-me .about-me-wrapper .lifeline .line .line-history .history-2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 250px;
  margin-top: 30px;
  -webkit-transform: rotate(90deg) translateY(-15px);
          transform: rotate(90deg) translateY(-15px);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

section#about-me .about-me-wrapper .lifeline .line .line-history .history-2 span {
  line-height: 20px;
  display: block;
}

section#about-me .about-me-wrapper .about-me-wrapper-right {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section#about-me .about-me-wrapper .about-me-wrapper-right h2 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 18px;
  background: #3dc1d3;
  padding: 4px 9px;
  display: inline-block;
}

section#about-me .about-me-wrapper .about-me-wrapper-right h1 {
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 110%;
  margin: 30px 0;
}

section#about-me .about-me-wrapper .about-me-wrapper-right .wrapper p {
  font-weight: 200;
  font-size: 16px;
  color: #636c7b;
}

section#about-me .about-me-wrapper .about-me-wrapper-right .wrapper p:first-of-type {
  margin-bottom: 30px;
}

.big-mark {
  position: relative;
  display: block;
  z-index: 2;
}

.big-mark::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(61, 193, 211, 0.4);
  height: 15px;
  z-index: -1;
}

.small-mark {
  background: rgba(61, 193, 211, 0.4);
  text-transform: uppercase;
  color: #000;
}

section#services {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#services .services-wrapper {
  -ms-flex-preferred-size: 1300px;
      flex-basis: 1300px;
  padding: 70px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section#services .services-wrapper h2 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 18px;
  background: #3dc1d3;
  padding: 4px 9px;
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section#services .services-wrapper .service-box {
  margin-top: 50px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#services .services-wrapper .service-box .service {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  height: 180px;
  margin-bottom: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}

section#services .services-wrapper .service-box .service:hover .left-side::before {
  height: 70%;
  width: 100%;
}

section#services .services-wrapper .service-box .service:hover::before {
  top: calc(30% / 2);
}

section#services .services-wrapper .service-box .service::before {
  content: "";
  position: absolute;
  right: 0;
  top: -100%;
  width: 1px;
  height: 70%;
  background: #ced6e0;
  -webkit-transition: 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

section#services .services-wrapper .service-box .service .left-side {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

section#services .services-wrapper .service-box .service .left-side::before {
  content: "";
  position: absolute;
  right: 0;
  top: calc(30% / 2);
  background: rgba(61, 193, 211, 0.4);
  height: 70%;
  width: 1px;
  -webkit-transition: 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

section#services .services-wrapper .service-box .service .left-side img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  width: 50%;
  z-index: 2;
}

section#services .services-wrapper .service-box .service .right-side {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#services .services-wrapper .service-box .service .right-side h3 {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  margin-bottom: 14px;
}

section#services .services-wrapper .service-box .service .right-side p {
  font-size: 15px;
  color: #636c7b;
  font-weight: 300;
}

section#services .services-wrapper .service-box .margins {
  margin-bottom: 0;
}

section#portfolio {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#portfolio .portfolio-wrapper {
  -ms-flex-preferred-size: 1500px;
      flex-basis: 1500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px 0 100px;
}

section#portfolio .portfolio-wrapper h2 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 18px;
  background: #3dc1d3;
  padding: 4px 9px;
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 50px;
}

section#portfolio .works {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#portfolio .works .work {
  -ms-flex-preferred-size: 350px;
      flex-basis: 350px;
  background: rgba(61, 193, 211, 0.4);
  height: 350px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#portfolio .works .work:hover .info {
  right: 0;
}

section#portfolio .works .work:hover img {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

section#portfolio .works .work img {
  width: 40%;
  -webkit-transition: 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

section#portfolio .works .work .info {
  position: absolute;
  top: 0;
  right: -100%;
  background: rgba(61, 193, 211, 0.8);
  width: 100%;
  height: 100%;
  -webkit-transition: 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#portfolio .works .work .info .tech-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section#portfolio .works .work .info .tech-wrapper h4 {
  font-weight: 400;
  background: #000;
  color: white;
  padding: 4px 5px;
  font-size: 13px;
  margin-right: 8px;
  text-transform: uppercase;
}

section#portfolio .works .work .info h2 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 18px;
  background: #fff;
  padding: 4px 9px;
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section#portfolio .works .work .info p {
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
  font-weight: 400;
}

section#portfolio .works .work .info a {
  margin-top: 10px;
  text-decoration: none;
  color: #000;
}

section#portfolio .works .work .info a:hover i {
  -webkit-animation: move 400ms infinite;
          animation: move 400ms infinite;
}

section#portfolio .works .work .info a i {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
  -webkit-animation: move 700ms infinite;
          animation: move 700ms infinite;
}

section#portfolio .works .margin-right {
  margin-right: 0;
}

section#portfolio .works .margin-bottom {
  margin-bottom: 0;
}

footer {
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-up {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-up .wrapper {
  -ms-flex-preferred-size: 1300px;
      flex-basis: 1300px;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-up .wrapper .wrapper-left {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .footer-up .wrapper .wrapper-left .socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-up .wrapper .wrapper-left .socialmedia .social {
  -ms-flex-preferred-size: 30px;
      flex-basis: 30px;
  width: 30px;
  margin-right: 20px;
  height: 50px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-up .wrapper .wrapper-left .socialmedia .social a {
  text-decoration: none;
  color: #000;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-up .wrapper .wrapper-left .socialmedia .social a:hover i {
  -webkit-transition: 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

footer .footer-up .wrapper .wrapper-left .socialmedia .social a:hover i.fa-github {
  color: #24292e;
}

footer .footer-up .wrapper .wrapper-left .socialmedia .social a:hover i.fa-facebook-f {
  color: #3b5998;
}

footer .footer-up .wrapper .wrapper-right {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer .footer-up .wrapper .wrapper-right img {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  width: 20%;
}

footer .footer-up .wrapper h2 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 18px;
  background: #3dc1d3;
  padding: 4px 9px;
  margin-bottom: 50px;
}

footer .footer-up .wrapper h3 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 20px;
  color: #fff;
}

footer .footer-up .wrapper h3 i {
  padding-right: 15px;
  margin-right: 15px;
  border-right: 1px solid #fff;
}

footer .footer-up .wrapper h3 a {
  text-decoration: none;
  color: #fff;
}

footer .footer-up .wrapper h3 a:hover {
  text-decoration: underline;
}

footer .footer-down {
  width: 100%;
  -ms-flex-preferred-size: 50px;
      flex-basis: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-down .wrapper {
  -ms-flex-preferred-size: 1300px;
      flex-basis: 1300px;
  height: 50px;
  padding: 0 50px;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .footer-down .wrapper p {
  color: white;
  font-size: 14px;
  font-weight: 300;
}

footer .footer-down .wrapper p a {
  text-decoration: none;
  color: #fff;
}

footer .footer-down .wrapper p a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */