* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  font-family: 'Fira Sans', sans-serif;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

#loader.hidden {
  display: none;
}

#loader .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#loader .wrapper .loader-wrapper .gooey {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 142px;
  height: 40px;
  margin: -20px 0 0 -71px;
  background: white;
  -webkit-filter: contrast(20);
          filter: contrast(20);
}

#loader .wrapper .loader-wrapper .gooey .dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  background: #000;
  border-radius: 50%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: dot 2.8s infinite;
          animation: dot 2.8s infinite;
}

#loader .wrapper .loader-wrapper .gooey .dots {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  -webkit-animation: dots 2.8s infinite;
          animation: dots 2.8s infinite;
}

#loader .wrapper .loader-wrapper .gooey .dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  background: #000;
  border-radius: 50%;
}

.dark {
  background: rgba(61, 193, 211, 0.8);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
}

.hidden-o {
  overflow: hidden;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  50% {
    -webkit-transform: translateX(7px);
            transform: translateX(7px);
  }
  100% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  50% {
    -webkit-transform: translateX(7px);
            transform: translateX(7px);
  }
  100% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
}

@-webkit-keyframes scroll-me {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes scroll-me {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes move-up {
  0% {
    -webkit-transform: translate(-50%, -35%);
            transform: translate(-50%, -35%);
    opacity: 0.4;
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes move-up {
  0% {
    -webkit-transform: translate(-50%, -35%);
            transform: translate(-50%, -35%);
    opacity: 0.4;
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@-webkit-keyframes dot {
  50% {
    -webkit-transform: translateX(96px);
            transform: translateX(96px);
  }
}

@keyframes dot {
  50% {
    -webkit-transform: translateX(96px);
            transform: translateX(96px);
  }
}

@-webkit-keyframes dots {
  50% {
    -webkit-transform: translateX(-31px);
            transform: translateX(-31px);
  }
}

@keyframes dots {
  50% {
    -webkit-transform: translateX(-31px);
            transform: translateX(-31px);
  }
}

header {
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, right top, left top, from(rgba(61, 193, 211, 0.65)), to(rgba(61, 193, 211, 0.3)));
  background: linear-gradient(to left, rgba(61, 193, 211, 0.65), rgba(61, 193, 211, 0.3));
  position: relative;
  -webkit-transition: height 300ms linear;
  transition: height 300ms linear;
}

header .wrapper-introduction {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 950px;
}

header .wrapper-introduction.animation-move {
  -webkit-animation: move-up 800ms both cubic-bezier(0.39, 0.575, 0.565, 1);
          animation: move-up 800ms both cubic-bezier(0.39, 0.575, 0.565, 1);
}

header .wrapper-introduction .hello {
  font-weight: 100;
  font-size: 6rem;
  text-align: center;
  margin-bottom: 30px;
}

header .wrapper-introduction .hello span {
  text-transform: uppercase;
}

header .wrapper-introduction h2.text {
  padding: 8px 25px;
  font-weight: 200;
  background: #000;
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

header #canvas {
  height: 100%;
}

header #darker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 26, 0.5);
  z-index: 4;
  -webkit-transition: 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

header nav#main-nav {
  -ms-flex-preferred-size: 70px;
      flex-basis: 70px;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 10;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav#main-nav.newcolor {
  background: #fff;
  -webkit-transition: 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

header nav#main-nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
}

header nav#main-nav .logo a {
  text-decoration: none;
}

header nav#main-nav .logo a h2 {
  font-weight: 400;
  color: #3dc1d3;
  text-transform: uppercase;
  padding: 4px 9px;
  font-size: 22px;
}

header nav#main-nav .logo a h2.changecolor {
  color: #fff;
  background: #3dc1d3;
  -webkit-transition: 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

header nav#main-nav .logo a img {
  height: 40px;
  margin-left: 40px;
}

header nav#main-nav .menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav#main-nav .menu-wrapper .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav#main-nav .menu-wrapper .menu a {
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 30px;
  color: black;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  padding: 4px 7px;
  -webkit-transition: 250ms 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 250ms 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
  z-index: 2;
}

header nav#main-nav .menu-wrapper .menu a::before {
  content: "";
  position: absolute;
  top: 0;
  right: -100%;
  background: #fff;
  width: 100%;
  height: 50px;
  z-index: -1;
  -webkit-transition: 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

header nav#main-nav .menu-wrapper .menu a::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  background: #3dc1d3;
  width: 100%;
  height: 50px;
  z-index: -1;
  -webkit-transition: 250ms 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 250ms 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

header nav#main-nav .menu-wrapper .menu a:hover::before {
  right: 0;
}

header nav#main-nav .menu-wrapper .menu a:hover::after {
  left: 0;
}

header nav#main-nav .menu-wrapper .menu a:hover {
  color: #fff;
}

header nav#main-nav .menu-wrapper .socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav#main-nav .menu-wrapper .socialmedia a {
  text-decoration: none;
  color: #000;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

header nav#main-nav .menu-wrapper .socialmedia a.fb:hover {
  color: #3b5998;
}

header nav#main-nav .menu-wrapper .socialmedia a.github:hover {
  color: #24292e;
}

header nav#main-nav .menu-wrapper .socialmedia a.contact {
  background: #3dc1d3;
  color: #fff;
  height: 70px;
  width: 70px;
  margin: 0;
  -webkit-transform: 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
          transform: 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

header nav#main-nav .menu-wrapper .socialmedia a.contact:hover {
  background: #000;
}

header nav#main-nav .menu-wrapper .socialmedia a i {
  font-size: 17px;
}

header nav#mobile-nav-hamburger {
  display: none;
  background: #fff;
  -ms-flex-preferred-size: 70px;
      flex-basis: 70px;
  height: 60px;
  width: 60px;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 10;
  cursor: pointer;
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 2px 8px, rgba(17, 17, 26, 0.05) 0px 4px 16px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 2px 8px, rgba(17, 17, 26, 0.05) 0px 4px 16px;
}

header nav#mobile-nav-hamburger .box {
  position: absolute;
  width: 35px;
  height: 17px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header nav#mobile-nav-hamburger .box .wrapper .belt {
  width: 100%;
  height: 3px;
  background: #000;
  border-radius: 50px;
  position: absolute;
  left: 0;
}

header nav#mobile-nav-hamburger .box .wrapper .belt.top {
  top: 0;
  -webkit-transition: top 0.2s 0.2s, -webkit-transform 0.2s;
  transition: top 0.2s 0.2s, -webkit-transform 0.2s;
  transition: top 0.2s 0.2s, transform 0.2s;
  transition: top 0.2s 0.2s, transform 0.2s, -webkit-transform 0.2s;
}

header nav#mobile-nav-hamburger .box .wrapper .belt.bottom {
  bottom: 0;
  -webkit-transition: bottom 0.2s 0.2s, -webkit-transform 0.2s;
  transition: bottom 0.2s 0.2s, -webkit-transform 0.2s;
  transition: bottom 0.2s 0.2s, transform 0.2s;
  transition: bottom 0.2s 0.2s, transform 0.2s, -webkit-transform 0.2s;
}

header nav#mobile-nav-hamburger .box .wrapper .belt.rotate-up {
  -webkit-transition: top 0.3s, -webkit-transform 0.3s 0.3s;
  transition: top 0.3s, -webkit-transform 0.3s 0.3s;
  transition: top 0.3s, transform 0.3s 0.3s;
  transition: top 0.3s, transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1.5px);
  left: 0;
}

header nav#mobile-nav-hamburger .box .wrapper .belt.rotate-down {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 1.5px);
  left: 0;
  -webkit-transition: bottom 0.3s, -webkit-transform 0.3s 0.3s;
  transition: bottom 0.3s, -webkit-transform 0.3s 0.3s;
  transition: bottom 0.3s, transform 0.3s 0.3s;
  transition: bottom 0.3s, transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
}

header .logo-mobile {
  margin-left: 20px;
  display: none;
  width: 180px;
}

header .logo-mobile a {
  text-decoration: none;
}

header .logo-mobile a h2 {
  font-weight: 400;
  color: #3dc1d3;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 60px;
}

header nav#mobile-nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 50%;
  background: #fff;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
  padding: 50px;
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 2px 8px, rgba(17, 17, 26, 0.05) 0px 4px 16px;
          box-shadow: rgba(17, 17, 26, 0.1) 0px 2px 8px, rgba(17, 17, 26, 0.05) 0px 4px 16px;
}

header nav#mobile-nav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header nav#mobile-nav .wrapper .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
  text-align: center;
}

header nav#mobile-nav .wrapper .menu a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 200;
  font-size: 23px;
  padding: 10px;
  margin: 10px 0;
  color: #000;
  -webkit-transition: 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

header nav#mobile-nav .wrapper .menu a:hover {
  background: #3dc1d3;
  color: #fff;
}

header nav#mobile-nav .wrapper .socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav#mobile-nav .wrapper .socialmedia a {
  height: 45px;
  width: 45px;
  margin: 0 10px;
  background: #000;
  color: #fff;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav#mobile-nav .wrapper .socialmedia a:last-of-type {
  background: #3dc1d3;
}

header nav#mobile-nav .wrapper .socialmedia a i {
  font-size: 21px;
  -webkit-transition: 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

header nav#mobile-nav.hidden {
  left: -100%;
}

header .scroll-down {
  position: absolute;
  bottom: 30px;
  left: calc(50% - 34px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: scroll-me 1s infinite;
          animation: scroll-me 1s infinite;
}

header .scroll-down span {
  margin-bottom: 5px;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
}

.scroll-up {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 30px;
  height: 60px;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  padding: 18px;
  -webkit-transition: 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
  z-index: 10;
}

.scroll-up:hover {
  opacity: 1;
}

.hidden {
  visibility: hidden;
}

.show {
  visibility: visible;
}

section#about-me {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#about-me .about-me-wrapper {
  -ms-flex-preferred-size: 1300px;
      flex-basis: 1300px;
  padding: 100px 50px 130px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#about-me .about-me-wrapper .lifeline {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  position: relative;
  padding: 20px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

section#about-me .about-me-wrapper .lifeline .line {
  position: absolute;
  top: 60%;
  left: 5%;
  background: rgba(61, 193, 211, 0.4);
  height: 2px;
  width: 90%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section#about-me .about-me-wrapper .lifeline .line .line-history {
  background: #000;
  height: 10px;
  width: 10px;
  -webkit-transform: translateY(-4.25px);
          transform: translateY(-4.25px);
  position: relative;
  font-size: 15px;
}

section#about-me .about-me-wrapper .lifeline .line .line-history .history {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 250px;
  margin-bottom: 10px;
  -webkit-transform: rotate(-90deg) translateY(-5px);
          transform: rotate(-90deg) translateY(-5px);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

section#about-me .about-me-wrapper .lifeline .line .line-history .history span {
  line-height: 20px;
  display: block;
}

section#about-me .about-me-wrapper .lifeline .line .line-history .history-2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 250px;
  margin-top: 30px;
  -webkit-transform: rotate(90deg) translateY(-15px);
          transform: rotate(90deg) translateY(-15px);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

section#about-me .about-me-wrapper .lifeline .line .line-history .history-2 span {
  line-height: 20px;
  display: block;
}

section#about-me .about-me-wrapper .about-me-wrapper-right {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section#about-me .about-me-wrapper .about-me-wrapper-right h2 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 18px;
  background: #3dc1d3;
  padding: 4px 9px;
  display: inline-block;
}

section#about-me .about-me-wrapper .about-me-wrapper-right h1 {
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 110%;
  margin: 30px 0;
}

section#about-me .about-me-wrapper .about-me-wrapper-right .wrapper p {
  font-weight: 200;
  font-size: 15px;
  color: #636c7b;
}

section#about-me .about-me-wrapper .about-me-wrapper-right .wrapper p:first-of-type {
  margin-bottom: 30px;
}

.big-mark {
  position: relative;
  display: block;
  z-index: 2;
}

.big-mark::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(61, 193, 211, 0.4);
  height: 15px;
  z-index: -1;
}

.small-mark {
  background: #3dc1d3;
  text-transform: uppercase;
  color: #000;
}

section#services {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#services .services-wrapper {
  -ms-flex-preferred-size: 1300px;
      flex-basis: 1300px;
  padding: 70px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section#services .services-wrapper h2 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 18px;
  background: #3dc1d3;
  padding: 4px 9px;
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section#services .services-wrapper .service-box {
  margin-top: 50px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#services .services-wrapper .service-box .service {
  -ms-flex-preferred-size: calc(100% / 3);
      flex-basis: calc(100% / 3);
  height: 180px;
  margin-bottom: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}

section#services .services-wrapper .service-box .service:hover .left-side::before {
  height: 75%;
  width: 100%;
}

section#services .services-wrapper .service-box .service:hover::before {
  top: calc(25% / 2);
}

section#services .services-wrapper .service-box .service::before {
  content: "";
  position: absolute;
  right: 0;
  top: -100%;
  width: 1px;
  height: 75%;
  background: #ced6e0;
  -webkit-transition: 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

section#services .services-wrapper .service-box .service .left-side {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

section#services .services-wrapper .service-box .service .left-side::before {
  content: "";
  position: absolute;
  right: 0;
  top: calc(25% / 2);
  background: rgba(61, 193, 211, 0.4);
  height: 75%;
  width: 1px;
  -webkit-transition: 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

section#services .services-wrapper .service-box .service .left-side img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  width: 50%;
  z-index: 2;
}

section#services .services-wrapper .service-box .service .right-side {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#services .services-wrapper .service-box .service .right-side h3 {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  margin-bottom: 14px;
}

section#services .services-wrapper .service-box .service .right-side p {
  font-size: 15px;
  color: #636c7b;
  font-weight: 300;
}

section#services .services-wrapper .service-box .margins {
  margin-bottom: 0;
}

section#portfolio {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#portfolio .portfolio-wrapper {
  -ms-flex-preferred-size: 1500px;
      flex-basis: 1500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px 0 100px;
}

section#portfolio .portfolio-wrapper h2 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 18px;
  background: #3dc1d3;
  padding: 4px 9px;
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 20px;
}

section#portfolio .portfolio-wrapper p {
  font-size: 15px;
  text-align: center;
  font-weight: 200;
  padding: 20px;
}

section#portfolio .portfolio-wrapper p i {
  margin-left: 8px;
}

section#portfolio .works {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section#portfolio .works .work {
  -ms-flex-preferred-size: 350px;
      flex-basis: 350px;
  background: rgba(61, 193, 211, 0.4);
  height: 350px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#portfolio .works .work:hover .info {
  right: 0;
}

section#portfolio .works .work:hover img {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

section#portfolio .works .work.no-hover .info {
  right: -100%;
}

section#portfolio .works .work.no-hover img {
  -webkit-transform: none;
          transform: none;
}

section#portfolio .works .work.show .info {
  right: 0;
}

section#portfolio .works .work.show img {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

section#portfolio .works .work img {
  width: 40%;
  -webkit-transition: -webkit-transform 300ms 200ms linear;
  transition: -webkit-transform 300ms 200ms linear;
  transition: transform 300ms 200ms linear;
  transition: transform 300ms 200ms linear, -webkit-transform 300ms 200ms linear;
}

section#portfolio .works .work .info {
  position: absolute;
  top: 0;
  right: -100%;
  background: rgba(61, 193, 211, 0.8);
  width: 100%;
  height: 100%;
  -webkit-transition: right 500ms ease;
  transition: right 500ms ease;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#portfolio .works .work .info .tech-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section#portfolio .works .work .info .tech-wrapper h3 {
  font-weight: 400;
  background: #000;
  color: white;
  padding: 4px 5px;
  font-size: 13px;
  margin-right: 8px;
  text-transform: uppercase;
}

section#portfolio .works .work .info h2 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 18px;
  background: #fff;
  padding: 4px 9px;
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section#portfolio .works .work .info p {
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
  font-weight: 400;
}

section#portfolio .works .work .info a {
  margin-top: 10px;
  text-decoration: none;
  color: #000;
}

section#portfolio .works .work .info a:hover i {
  -webkit-animation: move 400ms infinite;
          animation: move 400ms infinite;
}

section#portfolio .works .work .info a i {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
  -webkit-animation: move 700ms infinite;
          animation: move 700ms infinite;
}

section#portfolio .works .margin-right {
  margin-right: 0;
}

section#portfolio .works .margin-bottom {
  margin-bottom: 0;
}

#info-portfolio {
  position: fixed;
  left: 30px;
  bottom: 30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  background: #3dc1d3;
  z-index: 10;
  font-size: 14px;
  -webkit-transition: 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

footer {
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-up {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-up .wrapper {
  -ms-flex-preferred-size: 1300px;
      flex-basis: 1300px;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-up .wrapper .wrapper-left {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .footer-up .wrapper .wrapper-left .socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-up .wrapper .wrapper-left .socialmedia .social {
  -ms-flex-preferred-size: 30px;
      flex-basis: 30px;
  width: 30px;
  margin-right: 20px;
  height: 50px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-up .wrapper .wrapper-left .socialmedia .social a {
  text-decoration: none;
  color: #000;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-up .wrapper .wrapper-left .socialmedia .social a:hover i {
  -webkit-transition: 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: 350ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

footer .footer-up .wrapper .wrapper-left .socialmedia .social a:hover i.fa-github {
  color: #24292e;
}

footer .footer-up .wrapper .wrapper-left .socialmedia .social a:hover i.fa-facebook-f {
  color: #3b5998;
}

footer .footer-up .wrapper h2 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 18px;
  background: #3dc1d3;
  padding: 4px 9px;
  margin-bottom: 50px;
}

footer .footer-up .wrapper h3 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 20px;
  color: #fff;
}

footer .footer-up .wrapper h3 i {
  padding-right: 15px;
  margin-right: 15px;
  border-right: 1px solid #fff;
}

footer .footer-up .wrapper h3 a {
  text-decoration: none;
  color: #fff;
}

footer .footer-up .wrapper h3 a:hover {
  text-decoration: underline;
}

footer .footer-down {
  width: 100%;
  -ms-flex-preferred-size: 50px;
      flex-basis: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer-down .wrapper {
  -ms-flex-preferred-size: 1300px;
      flex-basis: 1300px;
  height: 50px;
  padding: 0 50px;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .footer-down .wrapper p {
  color: white;
  font-size: 14px;
  font-weight: 300;
}

footer .footer-down .wrapper p a {
  text-decoration: none;
  color: #fff;
}

footer .footer-down .wrapper p a:hover {
  text-decoration: underline;
}

main#error404 {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background: #fff;
}

main#error404 .wrapper {
  padding: 50px;
  position: absolute;
  text-align: center;
}

main#error404 .wrapper h1 {
  font-size: 5rem;
  font-weight: 100;
  margin-bottom: 20px;
  text-transform: uppercase;
}

main#error404 .wrapper h2 {
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 30px;
}

main#error404 .wrapper a {
  padding: 8px 25px;
  font-weight: 200;
  background: #000;
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

@media (max-width: 1600px) {
  section#about-me .about-me-wrapper {
    -ms-flex-preferred-size: 1200px;
        flex-basis: 1200px;
    padding: 50px 0 100px 0;
  }
  section#services .services-wrapper {
    -ms-flex-preferred-size: 1200px;
        flex-basis: 1200px;
    padding: 70px 0;
  }
  section#services .services-wrapper .service-box .service {
    -ms-flex-preferred-size: 32.5%;
        flex-basis: 32.5%;
  }
  section#portfolio .portfolio-wrapper {
    -ms-flex-preferred-size: 1200px;
        flex-basis: 1200px;
  }
  section#portfolio .portfolio-wrapper .works .work:nth-of-type(3n) {
    margin-right: 0;
  }
  section#portfolio .portfolio-wrapper .works .work:nth-of-type(4n) {
    margin-right: 20px;
  }
}

@media (max-width: 1300px) {
  header nav#main-nav .logo {
    margin-left: 30px;
  }
  section#about-me .about-me-wrapper {
    -ms-flex-preferred-size: 900px;
        flex-basis: 900px;
    padding: 70px 0;
  }
  section#services .services-wrapper {
    -ms-flex-preferred-size: 900px;
        flex-basis: 900px;
  }
  section#services .services-wrapper .service-box .service {
    -ms-flex-preferred-size: 49.5%;
        flex-basis: 49.5%;
  }
  section#portfolio .portfolio-wrapper {
    -ms-flex-preferred-size: 900px;
        flex-basis: 900px;
    margin: 50px 0;
  }
  section#portfolio .portfolio-wrapper .works {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section#portfolio .portfolio-wrapper .works .work {
    -ms-flex-preferred-size: 400px;
        flex-basis: 400px;
    height: 400px;
  }
  section#portfolio .portfolio-wrapper .works .work:nth-of-type(3n) {
    margin-right: 20px;
  }
  section#portfolio .portfolio-wrapper .works .work:nth-of-type(4n) {
    margin-right: 0;
  }
  section#portfolio .portfolio-wrapper .works .work:nth-of-type(2n) {
    margin-right: 0;
  }
  section#portfolio .portfolio-wrapper .works .work:nth-of-type(7) {
    margin-top: 20px;
  }
}

@media (max-width: 1100px) {
  header .wrapper-introduction {
    width: 70%;
  }
  header #canvas {
    height: calc(100% - 60px);
  }
  header nav#main-nav {
    display: none;
  }
  header nav#mobile-nav-hamburger,
  header .logo-mobile {
    display: block;
  }
  section#about-me .about-me-wrapper {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 50px 50px 20px 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section#about-me .about-me-wrapper .lifeline {
    -ms-flex-preferred-size: 600px;
        flex-basis: 600px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 0;
  }
  section#about-me .about-me-wrapper .lifeline .line {
    top: 50%;
  }
  section#about-me .about-me-wrapper .about-me-wrapper-right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  section#services .services-wrapper {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 50px;
  }
}

@media (max-width: 992px) {
  section#about-me .about-me-wrapper {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 50px 30px 20px 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section#about-me .about-me-wrapper .about-me-wrapper-right {
    padding: 0;
    margin-bottom: 50px;
  }
  section#about-me .about-me-wrapper .lifeline {
    -ms-flex-preferred-size: 600px;
        flex-basis: 600px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 0;
  }
  section#about-me .about-me-wrapper .lifeline .line {
    top: 50%;
  }
  section#about-me .about-me-wrapper .about-me-wrapper-right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  section#services .services-wrapper {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 50px 30px;
  }
  section#services .services-wrapper .service-box .service {
    height: 250px;
  }
  section#portfolio .portfolio-wrapper {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  section#portfolio .portfolio-wrapper .works {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section#portfolio .portfolio-wrapper .works .work {
    -ms-flex-preferred-size: 350px;
        flex-basis: 350px;
    height: 350px;
  }
  .scroll-up {
    right: 30px;
  }
}

@media (max-width: 768px) {
  header nav#mobile-nav {
    width: 65%;
  }
  section#services .services-wrapper .service-box .service {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  section#portfolio .portfolio-wrapper {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  section#portfolio .portfolio-wrapper .works {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section#portfolio .portfolio-wrapper .works .work {
    -ms-flex-preferred-size: 520px;
        flex-basis: 520px;
    height: 520px;
    margin: 0 0 20px 0;
  }
  section#portfolio .portfolio-wrapper .works .work:last-of-type, section#portfolio .portfolio-wrapper .works .work:nth-of-type(3n) {
    margin: 0 0 20px 0;
  }
  section#portfolio .portfolio-wrapper .works .work:last-of-type {
    margin-bottom: 0;
  }
}

@media (max-width: 576px) {
  header nav#mobile-nav {
    width: 72%;
  }
  section#about-me .about-me-wrapper {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 60px 20px 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section#services .services-wrapper {
    padding: 60px 20px;
  }
  section#services .services-wrapper .service-box .service {
    height: 220px;
  }
  section#portfolio .portfolio-wrapper {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 60px 20px;
    margin: 0;
  }
  section#portfolio .portfolio-wrapper .works {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section#portfolio .portfolio-wrapper .works .work {
    -ms-flex-preferred-size: calc(100vw - 40px);
        flex-basis: calc(100vw - 40px);
    height: calc(100vw - 40px);
    margin: 0 0 20px 0;
  }
  .scroll-up {
    right: 20px;
  }
  main#error404 .wrapper h1 {
    font-size: 3.8rem;
  }
  main#error404 .wrapper h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 480px) {
  header nav#mobile-nav {
    width: 75%;
  }
  header nav#mobile-nav .wrapper .menu a {
    font-size: 22px;
  }
  header .wrapper-introduction {
    width: 100%;
  }
  header .wrapper-introduction .hello {
    font-size: 5rem;
    padding: 0 20px 20px 20px;
  }
  section#services .services-wrapper {
    padding: 60px 20px;
  }
  section#services .services-wrapper .service-box .service {
    height: 210px;
  }
  section#services .services-wrapper .service-box .service .left-side {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  section#services .services-wrapper .service-box .service .left-side img {
    width: 60%;
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
  section#services .services-wrapper .service-box .service .right-side {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    padding: 20px;
  }
  section#services .services-wrapper .service-box .service .right-side h3 {
    font-size: 17px;
  }
  section#portfolio .portfolio-wrapper p {
    font-size: 14px;
    padding: 20px 0;
  }
  footer .footer-up .wrapper {
    padding: 50px 20px;
  }
  footer .footer-down .wrapper {
    padding: 0 30px;
  }
  .scroll-up {
    right: 20px;
  }
}

@media (max-width: 390px) {
  header nav#mobile-nav {
    width: 100%;
  }
  header nav#mobile-nav .wrapper .menu a {
    font-size: 21px;
  }
  header {
    min-height: 550px;
  }
  header .wrapper-introduction .hello {
    font-size: 4rem;
    margin-bottom: 20px;
    padding-top: 0;
  }
  section#about-me .about-me-wrapper {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 50px 15px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section#services .services-wrapper {
    padding: 50px 15px;
  }
  section#portfolio .portfolio-wrapper {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 50px 15px;
    margin: 0;
  }
  section#portfolio .portfolio-wrapper p {
    padding: 20px 30px;
  }
  section#portfolio .portfolio-wrapper .works .work {
    -ms-flex-preferred-size: calc(100vw - 30px);
        flex-basis: calc(100vw - 30px);
    height: calc(100vw - 30px);
  }
  section#portfolio .portfolio-wrapper .works .work .info .tech-wrapper {
    padding: 15px;
  }
  section#portfolio .portfolio-wrapper .works .work .info .tech-wrapper h4 {
    font-size: 12px;
    margin: 0 5px 5px 0;
  }
  footer .footer-up .wrapper {
    padding: 50px 15px;
  }
  footer .footer-down .wrapper {
    padding: 0 15px;
  }
  footer .footer-down .wrapper p {
    font-size: 13px;
  }
  .scroll-up {
    right: 15px;
  }
  main#error404 .wrapper {
    padding: 30px;
  }
  main#error404 .wrapper h1 {
    font-size: 3.5rem;
  }
  main#error404 .wrapper h2 {
    font-size: 2.2rem;
  }
}

@media (max-width: 360px) {
  section#portfolio .portfolio-wrapper {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 50px 15px;
    margin: 0;
  }
  section#portfolio .portfolio-wrapper p {
    padding: 20px 40px;
  }
  footer .footer-up .wrapper {
    padding: 50px 15px;
  }
  footer .footer-up .wrapper .wrapper-left h3 {
    font-size: 14px;
  }
  footer .footer-down .wrapper {
    padding: 0 15px;
  }
  footer .footer-down .wrapper p {
    font-size: 13px;
  }
}
/*# sourceMappingURL=main.css.map */