// RESETS
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// FONTS
* {
    font-family: 'Fira Sans', sans-serif;
}

// VARIABLES
$main-color: #3dc1d3;
$main-color-lighter: rgba(61, 193, 211, 0.4);
$second-color: #747d8c;
$third-color: #ced6e0;
$font-color: #fff;
$black-color: black;

// MIXINS

// TRANSITION
$main-animation: 250ms cubic-bezier(0.39, 0.575, 0.565, 1);

// KEYFRAMES
@keyframes move {
    0% {
        transform: translateX(2px);
    }

    50% {
        transform: translateX(7px);
    }

    100% {
        transform: translateX(2px);
    }
}

@keyframes scroll-me {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(6px);
    }

    100% {
        transform: translateY(0px);
    }
}