// RESETS
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// FONTS
* {
    font-family: 'Fira Sans', sans-serif;
}

// VARIABLES
$main-color: #3dc1d3;
$main-color-lighter: rgba(61, 193, 211, 0.4);
$second-color: #636c7b;
$third-color: #ced6e0;
$white-color: #fff;
$black-color: #000;

// MIXINS

// TRANSITION
$main-animation: 250ms cubic-bezier(0.39, 0.575, 0.565, 1);


// LOADER
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: $white-color;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $main-animation;

    &.hidden {
        display: none;
    }

    .wrapper {
        display: flex;

        .loader-wrapper {
            .gooey {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 142px;
                height: 40px;
                margin: -20px 0 0 -71px;
                background: white;
                filter: contrast(20);

                .dot {
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    top: 12px;
                    left: 15px;
                    filter: blur(4px);
                    background: #000;
                    border-radius: 50%;
                    transform: translateX(0);
                    animation: dot 2.8s infinite;
                }

                .dots {
                    transform: translateX(0);
                    margin-top: 12px;
                    margin-left: 31px;
                    animation: dots 2.8s infinite;

                    span {
                        display: block;
                        float: left;
                        width: 16px;
                        height: 16px;
                        margin-left: 16px;
                        filter: blur(4px);
                        background: #000;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}

.dark {
    background: rgba(61, 193, 211, 0.8);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
}

.hidden-o {
    overflow: hidden;
}

// KEYFRAMES
@keyframes move {
    0% {
        transform: translateX(2px);
    }

    50% {
        transform: translateX(7px);
    }

    100% {
        transform: translateX(2px);
    }
}

@keyframes scroll-me {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(6px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes move-down {

    0% {
        transform: translate(-50%, -35%);
        opacity: 0.4;
    }

    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes dot {
    50% {
        transform: translateX(96px);
    }
}

@keyframes dots {
    50% {
        transform: translateX(-31px);
    }
}