footer {
    background: $black-color;
    display: flex;
    flex-direction: column;

    .footer-up {
        width: 100%;
        display: flex;
        justify-content: center;

        .wrapper {
            flex-basis: 1300px;
            padding: 50px;
            display: flex;

            .wrapper-left {
                flex-basis: 100%;
                display: flex;
                flex-direction: column;
                justify-items: flex-start;
                align-items: flex-start;

                .socialmedia {
                    display: flex;

                    .social {
                        flex-basis: 30px;
                        width: 30px;
                        margin-right: 20px;
                        height: 50px;
                        background: $white-color;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        a {
                            text-decoration: none;
                            color: $black-color;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            &:hover {
                                i {
                                    transition: $main-animation;

                                    &.fa-github {
                                        color: #24292e;
                                    }

                                    &.fa-facebook-f {
                                        color: #3b5998;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            h2 {
                font-weight: 500;
                text-transform: uppercase;
                font-size: 18px;
                background: $main-color;
                padding: 4px 9px;
                margin-bottom: 50px;
            }

            h3 {
                font-weight: 300;
                text-transform: uppercase;
                font-size: 15px;
                margin-bottom: 20px;
                color: $white-color;

                i {
                    padding-right: 15px;
                    margin-right: 15px;
                    border-right: 1px solid $white-color;
                }

                a {
                    text-decoration: none;
                    color: $white-color;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .footer-down {
        width: 100%;
        flex-basis: 50px;
        display: flex;
        justify-content: center;

        .wrapper {
            flex-basis: 1300px;
            height: 50px;
            padding: 0 50px;
            text-align: right;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            p {
                color: white;
                font-size: 14px;
                font-weight: 300;

                a {
                    text-decoration: none;
                    color: $white-color;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}