header {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to left, rgba(61, 193, 211, 0.65), rgba(61, 193, 211, 0.3));
    position: relative;
    transition: height 500ms cubic-bezier(0.39, 0.575, 0.565, 1);

    .wrapper-introduction {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 950px;

        &.animation-move {
            animation: move-up 800ms both cubic-bezier(0.39, 0.575, 0.565, 1);
        }

        .hello {
            font-weight: 100;
            font-size: 6rem;
            text-align: center;
            margin-bottom: 30px;

            span {
                text-transform: uppercase;
            }
        }

        h2.text {
            padding: 8px 25px;
            font-weight: 200;
            background: $black-color;
            font-size: 15px;
            text-decoration: none;
            color: $white-color;
            text-transform: uppercase;
        }
    }

    #canvas {
        height: 100%;
    }

    #darker {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(17, 17, 26, 0.5);
        z-index: 4;
        transition: $main-animation;
    }

    nav#main-nav {
        flex-basis: 70px;
        top: 0;
        right: 0;
        position: fixed;
        z-index: 10;
        width: 100%;
        display: flex;
        justify-content: space-between;

        &.newcolor {
            background: $white-color;
            transition: $main-animation;
            box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
        }

        .logo {
            display: flex;
            align-items: center;
            margin-left: 50px;

            a {
                text-decoration: none;

                h2 {
                    font-weight: 400;
                    color: $main-color;
                    text-transform: uppercase;
                    padding: 4px 9px;
                    font-size: 22px;

                    &.changecolor {
                        color: $white-color;
                        background: $main-color;
                        transition: $main-animation;
                    }
                }

                img {
                    height: 40px;
                    margin-left: 40px;
                }
            }
        }

        .menu-wrapper {
            display: flex;

            .menu {
                display: flex;
                align-items: center;

                a {
                    text-transform: uppercase;
                    text-decoration: none;
                    margin: 0 30px;
                    color: black;
                    font-size: 16px;
                    position: relative;
                    overflow: hidden;
                    padding: 4px 7px;
                    transition: 250ms $menu-animation;
                    z-index: 2;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: -100%;
                        background: $white-color;
                        width: 100%;
                        height: 50px;
                        z-index: -1;
                        transition: $menu-animation;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: -100%;
                        background: $main-color;
                        width: 100%;
                        height: 50px;
                        z-index: -1;
                        transition: 250ms $menu-animation;
                    }

                    &:hover::before {
                        right: 0;
                    }

                    &:hover::after {
                        left: 0;
                    }

                    &:hover {
                        color: $white-color;
                    }
                }
            }

            .socialmedia {
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    text-decoration: none;
                    color: $black-color;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: $main-animation;


                    &.fb {
                        &:hover {
                            color: #3b5998;
                        }
                    }

                    &.github {
                        &:hover {
                            color: #24292e;
                        }
                    }

                    &.contact {
                        background: $main-color;
                        color: $white-color;
                        height: 70px;
                        width: 70px;
                        margin: 0;
                        transform: $main-animation;

                        &:hover {
                            background: $black-color;
                        }
                    }

                    i {
                        font-size: 17px;
                    }
                }
            }
        }
    }

    // Mobile nav
    nav#mobile-nav-hamburger {
        display: none;
        background: $white-color;
        flex-basis: 70px;
        height: 60px;
        width: 60px;
        top: 0;
        right: 0;
        position: fixed;
        z-index: 10;
        cursor: pointer;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 2px 8px, rgba(17, 17, 26, 0.05) 0px 4px 16px;

        .box {
            position: absolute;
            width: 35px;
            height: 17px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .wrapper {
                .belt {
                    width: 100%;
                    height: 3px;
                    background: #000;
                    border-radius: 50px;
                    position: absolute;
                    left: 0;

                    &.top {
                        top: 0;
                        transition: top 0.2s 0.2s, transform 0.2s;
                    }

                    &.bottom {
                        bottom: 0;
                        transition: bottom 0.2s 0.2s, transform 0.2s;
                    }

                    &.rotate-up {
                        transition: top 0.3s, transform 0.3s 0.3s;
                        transform: rotate(-45deg);
                        top: calc(50% - 1.5px);
                        left: 0;
                    }

                    &.rotate-down {
                        transform: rotate(45deg);
                        bottom: calc(50% - 1.5px);
                        left: 0;
                        transition: bottom 0.3s, transform 0.3s 0.3s;
                    }
                }
            }
        }
    }

    .logo-mobile {
        margin-left: 20px;
        display: none;
        width: 180px;

        a {
            text-decoration: none;

            h2 {
                font-weight: 400;
                color: $main-color;
                text-transform: uppercase;
                font-size: 22px;
                line-height: 60px;
            }
        }
    }


    nav#mobile-nav {
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        width: 50%;
        background: $white-color;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: $main-animation;
        padding: 50px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 2px 8px, rgba(17, 17, 26, 0.05) 0px 4px 16px;

        .wrapper {
            display: flex;
            flex-direction: column;

            .menu {
                display: flex;
                flex-direction: column;
                margin-bottom: 50px;
                text-align: center;

                a {
                    text-transform: uppercase;
                    text-decoration: none;
                    font-weight: 200;
                    font-size: 23px;
                    padding: 10px;
                    margin: 10px 0;
                    color: $black-color;
                    transition: $main-animation;

                    &:hover {
                        background: $main-color;
                        color: $white-color;
                    }
                }
            }

            .socialmedia {
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    height: 45px;
                    width: 45px;
                    margin: 0 10px;
                    background: $black-color;
                    color: $white-color;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:last-of-type {
                        background: $main-color;
                    }

                    i {
                        font-size: 21px;
                        transition: $main-animation;
                    }
                }
            }
        }

        &.hidden {
            left: -100%;
        }
    }

    .scroll-down {
        position: absolute;
        bottom: 30px;
        left: calc(50% - 34px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation: scroll-me 1s infinite;

        span {
            margin-bottom: 5px;
            font-weight: 300;
            font-size: 14px;
            text-transform: uppercase;
        }
    }
}

.scroll-up {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 30px;
    height: 60px;
    background: $black-color;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $white-color;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    padding: 18px;
    transition: $main-animation;
    z-index: 10;

    &:hover {
        opacity: 1;
    }
}

.hidden {
    visibility: hidden;
}

.show {
    visibility: visible;
}